.signup {
    display: block;
    width: 100%;
    max-width: 40.0rem;
    margin: 4rem auto 6rem;
    border: 1px solid #000000;

    .wrap {
        padding: 1rem;

        h2 {
            font-size:2.2rem;
            font-weight: 400;
            text-transform: uppercase;
            text-align:center;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }
        Button {
            background-color:#ff9a9e;
            // background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        }

        .formWrap {
            margin: 3rem auto 0;
        }
    }
    @media screen and (max-width:700px) {
        width: 80%;
    }
}
