.header {
    height: 6.5rem;
    background:#fff;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    z-index:100;
    .wrap {
        height: 100%;
        max-width:1600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;
        .logo {
            width: 13.0rem;
            font-size:2rem;
            a {
                color:#fff;
                font-family: 'Playfair Display SC', serif;
                opacity:1;
            }
            @media screen and (max-width:600px) {
                font-size:1.5rem;
                width: 8rem;
            }
        }
        .logo :hover {
            // box-shadow:1px 1px 1px rgba(0,0,0,5);
            // border:none;
        }
        .navMenus {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                color:#fff;
                // gap:2rem;
            }
            ul, li {
                margin: 0;
                padding: 0;
            }
            li {
                list-style: none;
                margin-right: 3rem;

                i {
                    margin-left: 1rem;
                }

                &:last-child {
                    margin-right: 0;
                }
                a {
                    color:#fff;
                    font-size:1.8rem;
                    line-height:1;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                .cartBtn {
                    text-transform: capitalize;
                    font-size: 1.8rem;
                    background: transparent;
                    border:0.2rem solid rgba(0,0,0,0.5);
                    padding: 0.3rem 1.5rem;
                    cursor: pointer;
                    outline:0;
                    transition: 0.3s ease-in-out;
                    a {
                        color: #000000;
                    }

                    .count {
                        padding-left: 2rem;
                    }
                    &:hover {
                        background: rgba(0,0,0,0.5);
                        a {
                            color:#fff;
                        }
                    }

                    &:active {
                        transform:scale(0.98);
                    }
                    
                    i {
                        padding-right: 0.5rem;
                    }
                    @media screen and (max-width:600px) {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .mycart {
                            display: none;
                        }
                        .count {
                            padding: 0;
                        }
                    }
                }
            }
        }

    }
}
