.products {
    width: 100%;
    // height: 100%;
    h1 {
        text-align: center;
        margin-top: 3rem;
        font-family: 'Playfair Display SC', serif;
    }
    Filter {
        display: flex;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
        width: 100%;
        padding: 0 3rem;
        margin: 2rem auto;

        @media (max-width: 800px) {
              grid-template-columns: repeat(2, 1fr);
            // grid-template-columns: 1fr;
        }
          
          @media (max-width: 500px) {
              grid-template-columns: 1fr;
          }
    }
}
